Repository hmcts/dtsse-shared-infrastructure, pull requests merged in 2025-08, with the labels that each got.

#202 Remove old Grafana resources
  aat.tfvars
  budget-alert.tf
  grafana.tf
  postgres.tf
  prod.tfvars
  variables.tf
Labels: aat/destroy, prod/destroy

#204 DTSPO-26964 - Enable VNet integration for Postgres
  aat.tfvars
  grafana.tf
  postgres.tf
  prod.tfvars
  variables.tf
Labels: aat/destroy, prod/add-or-update

#206 Patch - Add missing aks_subscription_id to aat.tfvars to fix role assignment error
  aat.tfvars
Labels: aat/add-or-update, prod/add-or-update
